@page
@model HessalWebapp.Models.EmailInputModel
@{
    ViewData["Title"] = "Contact Us";
    ViewData["Email"] = "info@hessal-sol.com";
}

@section MetaTags {
    <meta name="description"
          content="We are a team of LPG specialists with diverse knowledge on the design, installation and maintenance of LPG systems and appliances. Connect with us for more!">
    <meta property="og:title" content="Contact Us">
    <meta property="og:description"
          content="Contact us for more information on LPG related items and we will gladly assist you!">
    <meta name="keywords"
          content="LPG Design, LPG Installation, LPG Maintenance, LPG Appliances, Fire Place Installers, LPG Installers, Fire Place Installations, LPG Safety, LPG Leak Detection, LPG Benefits, LPG Uses, LPG Production, LPG Fires, LPG Tanks, LPG Earthing">
}

@Html.Partial("_SharedHeader")

<section id="contact_two" class="bg-light">
    <div class="container contacts-container">
        <div class="row d-flex flex-wrap">
            <h1 class="section-header my-4">Reach out to us...</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature text-center">
                        <p class="paragraph-title">EMAIL</p>
                        <div class="icon"><i class="fa fa-envelope fa-2x mx-auto contact-icons email"></i></div>
                        <p class="paragraph-text">@ViewData["Email"]</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center">
                        <p class="paragraph-title">PHONE</p>
                        <div class="icon"><i class="fa fa-phone fa-2x mx-auto contact-icons phone"></i></div>
                        <p class="paragraph-text"><small>+254</small> 706 547 003, <small>+254</small> 714 585 382 , <small>+254</small> 782 841 651</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center">
                        <p class="paragraph-title">LOCATION</p>
                        <div class="icon"><i class="fa fa-map-marker fa-2x mx-auto contact-icons location"></i></div>
                        <address class="paragraph-text">Airways Shopping Center,<br>Utawala, Nairobi<br>Kenya</address>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 bg-primary">
                @using (Html.BeginForm("SendEmail", "EmailController", FormMethod.Post, new { @id = "contact-form", @class = "js-ajax-form" }))
                {
                    <div class="row g-3">
                        <div class="col-md-12 mt-4 mx-2">
                            <h2>
                                Just Say hello...
                            </h2>
                            <p>Thank you for expressing interest in our services. Kindly fill the form below and our team will respond back to you as soon as possible! Reach out to us via Whatsapp.</p>
                        </div>
                        <div class="col-field col-md-6 col-lg-6">
                            @Html.TextBoxFor(emailInput => emailInput.FirstName, new { @type = "text", @class = "form-control", @id = "firstname", @name = "firstname", placeholder = "First name", required = "required" })
                        </div>
                        <div class="col-field col-md-6 col-lg-6">
                            @Html.TextBoxFor(emailInput => emailInput.LastName, new { @type = "text", @class = "form-control", @id = "lastname", @name = "lastname", placeholder = "Last name", required = "required" })
                        </div>
                        <div class="col-field col-md-6 col-lg-6">
                            @Html.TextBoxFor(emailInput => emailInput.Email, new { @type = "email", @class = "form-control", @id = "emailForm", @name = "email", placeholder = "E-mail Address", required = "required" })
                        </div>
                        <div class="col-field col-md-6 col-lg-6">
                            @Html.TextBoxFor(emailInput => emailInput.Contact, new { @type = "number", @class = "form-control", @id = "contact", @name = "contact", placeholder = "Phone No.", required = "required" })
                        </div>
                        <div class="col-field col-md-12 col-lg-12">
                            @Html.TextAreaFor(emailInput => emailInput.Message, new { @type = "text", @class = "form-control", @id = "message", @name = "message", placeholder = "Leave your message here...", required = "required" })
                        </div>
                        <div class="col-auto my-4">
                            <button type="submit" class="btn-submit btn btn-primary bg-dark" name="sub_button" id="sub_button" disabled>
                                Submit
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-6 px-0 mx-0 map-height">
                <div data-style="dream" class="contact-bg-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10051.140417271963!2d36.978290457901046!3d-1.2957891005911724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f6cf04fa67455%3A0x683a23e0befabd8f!2sAirways%20Shoping%20Center!5e0!3m2!1sen!2ske!4v1678804200991!5m2!1sen!2ske"
                            title="google-map" width="1280" height="720" style="border:0" allowfullscreen loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>