<!--Footer Section-->
@using HessalWebapp.Services
@inject BlogPostService BlogPostService
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@model HessalWebapp.Controllers.FooterModel
@{
    Model.BlogPosts = BlogPostService.GetBlogPosts();

    Model.ServiceName = new List<string> { "LPG System Design", "Bulk Tank LPG Installations", "Fire-place Installations", "Gas Leak Detection", "Inspection and Maintenance" };
    Model.ProjectTitle = new List<string> { "Residentials", "Commercials", "Industrial", "Hospitals", "Hotels" };
    Model.SocialIcons = new List<string> { "fa fa-facebook", "fa-brands fa-x-twitter", "fa fa-instagram", "fa fa-telegram" };
    Model.SocialList = new List<string> { "social-list-facebook", "social-list-twitter", "social-list-instagram", "social-list-telegram" };
}
<footer class="footer text-muted @ViewData["Footer-bg"]" id="footer">
    <div class="gutter"></div>
    <div class="container overflow-hidden  @ViewData["Footer-text"]">
        <div class="row align-items-center">
            <div class="border-bottom @ViewData["Border"]">
            </div>
            <div id="Follow" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-start text-sm-start text-s-center">
                <p class="mb-0 social-title">
                    Follow us on social media:
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-end text-sm-end text-s-center">
                <ul class="social-list">
                    @if (Model.SocialIcons != null)
                    {
                        @for (var i = 0; i < Model.SocialIcons.Count; i++)
                        {
                            var socialIconsCanvas = Model.SocialIcons[i];
                            var socialListCanvas = Model.SocialList[i];
                            <li>
                                <a target="_blank" rel="noopener noreferrer" class="@socialListCanvas"
                                   href="#" aria-label="follow button">
                                    <i class="@socialIconsCanvas"></i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="mb-4 border-bottom @ViewData["Border"]">
            </div>
        </div>
        <div class="row gy-3">
            <!-- footer about start -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-uppercase list-title">About Us</div>
                <p>
                    We are a team of specialist engineers, focusing on the design, installation and maintenance of LPG
                    Systems for use in residential, commercial and industrial sectors.
                </p>
            </div><!-- footer menu one start -->
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="text-uppercase list-title col-footer">
                    Main
                    <button type="button" id="btn-close-1" class="btn-close @ViewData["CloseButton"]" aria-label="Collapse1"
                            data-bs-toggle="collapse" data-bs-target="#footer-menu" aria-expanded="false" aria-controls="collapseExample1" data-click-count></button>
                </div>
                <div class="collapse d-md-block" id="footer-menu">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/About">About Us</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Solutions/Services">Our Services</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Projects/Projects">Our Projects</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer menu two start -->
            <div class="col-md-2 col-sm-3">
                <div class="text-uppercase list-title col-footer">
                    Learn More
                    <button type="button" id="btn-close-2" class="btn-close @ViewData["CloseButton"]" aria-label="Collapse2"
                            data-bs-toggle="collapse" data-bs-target="#footer-learn" aria-expanded="false" aria-controls="collapseExample2" data-click-count></button>
                </div>
                <div class="collapse d-md-block " id="footer-learn">
                    <ul class="no-icon-list ">
                        @if (Model.BlogPosts != null)
                        {
                            @for (var i = 0; i < 5; i++)
                            {
                                var blogPostsCanvas = Model.BlogPosts.ElementAt(i);
                                <li><a aria-current="page" asp-area="" asp-page="/Blog/BlogPost" asp-route-pageName="@blogPostsCanvas.PageName">@blogPostsCanvas.Title</a></li>
                            }
                        }
                    </ul>
                </div>
            </div><!-- footer menu three start -->
            <div class="col-md-2 col-sm-3">
                <div class="text-uppercase list-title col-footer">
                    Support
                    <button type="button" id="btn-close-3" class="btn-close @ViewData["CloseButton"]" aria-label="Collapse3"
                            data-bs-toggle="collapse" data-bs-target="#footer-support" aria-expanded="false" aria-controls="collapseExample3" data-click-count></button>
                </div>
                <div class="collapse d-md-block " id="footer-support">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div><!-- footer social icons start -->
            <div class="col-md-2 col-sm-3">
                <div class="font-montserrat text-uppercase list-title col-footer">
                    Legal
                    <button type="button" id="btn-close-4" class="btn-close @ViewData["CloseButton"]" aria-label="Collapse4"
                            data-bs-toggle="collapse" data-bs-target="#footer-legal" aria-expanded="false" aria-controls="collapseExample4" data-click-count></button>
                </div>
                <div class="collapse d-md-block " id="footer-legal">
                    <ul class="no-icon-list">
                        <li>
                            <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Terms">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gutter">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center">
                &copy
                <span><strong>Hessal Solutions</strong></span>
                2023 - All Rights Reserved.
            </div>
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center text-muted">
                Designed by
                <strong>WebMania</strong>
            </div>
        </div>
    </div>

    <!--Footer Icon Style-->
    <style>
        @Html.Raw(ViewData["Footer-Icon-List"])
        @Html.Raw(ViewData["Social-List-Light"])
    </style>
</footer>