<!--Header Section-->
<!--Utilized dependency injection to instantiate data into my partial header section.-->
@using HessalWebapp.Services
@inject BlogPostService BlogPostService
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@model HessalWebapp.Controllers.HeaderModel
@{
    Model.BlogPosts = BlogPostService.GetBlogPosts();

    Model.ServiceName = new List<string> { "LPG System Design", "Bulk Tank LPG Installations", "Fire-place Installations", "Gas Leak Detection", "Inspection and Maintenance" };
    Model.ProjectTitle = new List<string> { "Residentials", "Commercials", "Industrial", "Hospitals", "Hotels" };
    Model.SocialIcons = new List<string> { "fa fa-facebook", "fa fa-twitter", "fa fa-instagram", "fa fa-telegram" };
}

<div class="container-fluid navbar-container">
    <nav class="navbar navbar-custom navbar-expand-lg navbar-sticky br-10 " id="nav-bg">
        <button class="navbar-toggler button-menu-wrap" id="offcanvasButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasHessal"
                aria-controls="offcanvasHessal" aria-label="Toggle navigation">
            <div class="button-menu" id="menu">
                <div>
                    <span class="line-top"></span>
                    <span class="line-middle"></span>
                    <span class="line-bottom"></span>
                </div>
            </div>
        </button>
        <a class="navbar-brand text-end" asp-area="" asp-page="/Index">
            <!--Smaller Screens-->
            <img src="~/lib/src/logos/Hessal-76.png" class="d-inline-block align-text-center mx-2 navbar-img d-sm-none" alt="Hessal Logo" />
            <!--Larger Screens-->
            <img src="~/lib/src/logos/Hessal-76-Branded.png" class="d-inline-block align-text-center mx-2 navbar-img d-none d-sm-block" alt="Hessal Logo" />
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-3">
                <li class="nav-item mx-2">
                    <a class="nav-link nav-link-active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link nav-link-active " aria-current="page" asp-area="" asp-page="/About">About Us</a>
                </li>
                <li class="nav-item mx-2 navbar-solutions-menu">
                    <a class="nav-link nav-link-active">Our Solutions</a>
                    <ul>
                        @if (Model.ServiceName != null)
                        {
                            @foreach (var serviceName in Model.ServiceName)
                            {
                                <li><a aria-current="page" asp-area="" asp-page="/Solutions/Services" asp-route-title="@serviceName">@serviceName</a></li>
                            }
                        }
                    </ul>
                </li>
                <li class="nav-item mx-2 navbar-projects-menu">
                    <a class="nav-link nav-link-active ">Projects</a>
                    <ul>
                        @if (Model.ProjectTitle != null)
                        {
                            @foreach (var projectTitle in Model.ProjectTitle)
                            {
                                <li><a aria-current="page" asp-area="" asp-page="/Projects/Projects" asp-route-title="@projectTitle">@projectTitle</a></li>
                            }
                        }
                    </ul>
                </li>
                <li class="nav-item mx-2 navbar-knowledge-menu">
                    <a class="nav-link nav-link-active" asp-area="" asp-page="/Blog/BlogList">Knowledge</a>
                    <ul>
                        @if (Model.BlogPosts != null)
                        {
                            @for (var i = 0; i < 5; i++)
                            {
                                var blogPostsCanvas = Model.BlogPosts.ElementAt(i);
                                <li><a aria-current="page" asp-area="" asp-page="/Blog/BlogPost" asp-route-id="@blogPostsCanvas.Id">@blogPostsCanvas.Title</a></li>
                            }
                        }
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <a class="btn btn-primary-nav" aria-current="page" asp-area="" asp-page="/Contact">Partner with Us</a>
            </form>
        </div>
    </nav>
</div>

<div class="offcanvas offcanvas-start text-bg-light" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasHessal"
     aria-labelledby="offcanvasHessalLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasHessalLabel">
            <a class="navbar-brand" href="index.html">
                <img src="~/lib/src/logos/Hessal-32-Branded.png" alt="Hessal Logo"
                     class="d-inline-block align-text-center mx-2" />
            </a>
        </h5>
        <button type="button" class="btn-close" id="nav-button-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="border-bottom border-custom-black">
    </div>
    <div class="offcanvas-body container d-flex flex-column h-100">
        <div class="justify-content-between align-items-baseline">
            <nav class="sideMenu-nav">
                <ul class="navbar-nav justify-content-center align-items-center">
                    <li class="nav-item w-100">
                        <a class="nav-link-mobile text-center" aria-current="page" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link-mobile text-center" aria-current="page" asp-area="" asp-page="/About">About Us</a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link-mobile text-center" data-bs-toggle="collapse"
                           data-bs-target="#collapseSolutions" aria-expanded="false" aria-controls="collapseSolutions" href="#">Our Solutions</a>
                        <div class="collapse" id="collapseSolutions">
                            <ul class="text-center">
                                @if (Model.ServiceName != null)
                                {
                                    @for (var i = 0; i < Model.ServiceName.Count; i++)
                                    {
                                        var serviceNameCanvas = Model.ServiceName[i];

                                        <li class="@(i == Model.ServiceName.Count - 1 ? "border-bottom" : "border-bottom border-secondary") mx-3 my-2">
                                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                               aria-current="page" asp-area="" asp-page="/Solutions/Services">@serviceNameCanvas</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link-mobile text-center" data-bs-toggle="collapse"
                           data-bs-target="#collapseProjects" aria-expanded="false" aria-controls="collapseProjects" href="#">
                            Our Projects
                        </a>
                        <div class="collapse" id="collapseProjects">
                            <ul class="text-center">
                                @if (Model.ProjectTitle != null)
                                {
                                    @for (var i = 0; i < Model.ProjectTitle.Count; i++)
                                    {
                                        var projectTitleCanvas = Model.ProjectTitle[i];

                                        <li class="@(i == Model.ProjectTitle.Count - 1 ? "border-bottom" : "border-bottom border-secondary") mx-3 my-2">
                                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                               aria-current="page" asp-area="" asp-page="/Projects/Projects">@projectTitleCanvas</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link-mobile text-center" asp-area="" asp-page="/Blog/BlogList" data-bs-toggle="collapse"
                           data-bs-target="#collapseKnowledge" aria-expanded="false" aria-controls="collapseKnowledge">
                            Knowledge
                        </a>
                        <div class="collapse" id="collapseKnowledge">
                            <ul class="text-center">
                                @if (Model.BlogPosts != null)
                                {
                                    @for (var i = 0; i < 5; i++)
                                    {
                                        var blogTitlesCanvas = Model.BlogPosts.ElementAt(i);

                                        <li class="@(i == Model.BlogPosts.Count() - 1 ? "border-bottom" : "border-bottom border-secondary") mx-3 my-2">
                                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                               aria-current="page" asp-area="" asp-page="/Projects/Projects" asp-route-id="@blogTitlesCanvas.Id">@blogTitlesCanvas.Title</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="border-bottom border-custom-black">
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="sideMenu-nav">
                    <ul class="navbar-nav justify-content-center align-items-center">
                        <li class="nav-item w-100">
                            <a class="nav-link-mobile text-center " aria-current="page" asp-area="" asp-page="/Projects/Project">Our Profession</a>
                        </li>
                        <li class="nav-item w-100">
                            <a class="nav-link-mobile text-center " aria-current="page" asp-area="" asp-page="/About">Who we are</a>
                        </li>
                        <li class="nav-item w-100">
                            <a class="nav-link-mobile text-center " aria-current="page" asp-area="" asp-page="/Contact/Contact">Partner with Us</a>
                        </li>
                    </ul>
                </nav>
                <div class="border-bottom border-custom-black">
                </div>
            </div>

            <div class="col-contact">
                <p class="s-title3">Let's get in touch</p>
                <p class="text">
                    We are a team of specialist engineers, focusing on the design, installation and maintenance of LPG
                    Systems for use in residential, commercial and industrial sectors.
                </p>

            </div>
        </div>
        <div class="row h-100 h-50 align-items-center">
            <div id="Follow" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-start text-center mb-2">
                <p class="mb-0 social-title text-s-center text-sm-start">
                    Follow us on social media:
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-lg-end text-sm-end text-center mb-2">
                <ul class="social-list">
                    @if (Model.SocialIcons != null)
                    {
                        @for (var i = 0; i < Model.SocialIcons.Count; i++)
                        {
                            var socialIconsCanvas = Model.SocialIcons[i];
                            <li>
                                <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                                   href="#" aria-label="facebook follow button">
                                    <i class="@socialIconsCanvas"></i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row h-100 d-flex align-items-end">
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center">
                &copy
                <span><strong>Hessal Solutions</strong></span>
                2023 - All Rights Reserved.
            </div>
            <div class="col-md-6 mb-2 col-lg-6 col-sm-12 text-center text-muted">
                Designed by
                <strong>WebMania</strong>
            </div>
        </div>
    </div>
</div>
