@{
    ViewData["Context"] = "@context";
    ViewData["Type"] = "@type";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google tag (gtag.js) -->
    <script src="https://www.googletagmanager.com/gtag/js?id=G-2GSM9J4RFW" defer></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "G-2GSM9J4RFW")</script>

    <!-- Title -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="<directive><value>;<directive><value>" />
    <meta http-equiv="cache-control" content="max-age=31536000, public" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hessal Solutions | @ViewData["Title"] </title>

    <!--MetaData-->
    <meta name="description"
          content="We are a team of LPG specialists with diverse knowledge on the design, installation and maintenance of LPG systems and appliances. Connect with us for more!">
    <meta name="theme-color" content="#f89a4b">
    <link rel="canonical" href="https://hessal-sol.com/index.html">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="Website">
    <meta property="og:title" content="Hessal Solutions LTD">
    <meta property="og:description"
          content="We are a team of LPG specialists with diverse knowledge on the design, installation and maintenance of LPG systems and appliances. Connect with us for more!">
    <meta property="og:url" content="https://hessal-sol.com/index.html">
    <meta property="og:site_name" content="Hessal Solutions LTD">
    <meta property="og:image" content="https://hessal-sol.com/img/bg/Image-7.webp">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta name="keywords"
          content="LPG Design, LPG Installation, LPG Maintenance, LPG Appliances, LPG Safety, LPG Leak Detection, LPG Benefits, LPG Uses, LPG Production, LPG Fires, LPG Tanks, LPG Earthing">
    <meta name="author" content="Hessal Solutions">

    <!--Unique Meta Tags for individual Web pages-->
    @RenderSection("MetaTags", required: false)

    <!--Schema.org - Make adjustments on file locations here and razor references-->
    <script type="application/ld+json">
{
    "@ViewData["Context"]": "http://schema.org",
    "@ViewData["Type"]": "LocalBusiness",
    "name": "Hessal Solutions",
    "image": "https://hessal-sol.com/img/bg/Image-7.webp",
    "url":"https://hessal-sol.com",
    "telephone": "+254 (706) 547 003",
    "email": "info@hessal-sol.com",
    "address": {
      "@ViewData["Type"]": "PostalAddress",
      "streetAddress": "Utawala",
      "addressRegion": "Nairobi",
      "addressCountry": "Kenya"
    }
  }</script>

    <!-- Favicons -->
    <link rel="shortcut icon" sizes="60x36" width="60px" height="36px" href="~/lib/src/logos/Hessal-60.png" />
    <link rel="apple-touch-icon" sizes="32x19" width="32px" height="19px" href="~/lib/src/logos/Hessal-32.png" />
    <link rel="apple-touch-icon" sizes="76x45" width="76px" height="45px" href="~/lib/src/logos/Hessal-76.png" />
    <link rel="apple-touch-icon" sizes="120x72" width="120px" height="72px" href="~/lib/src/logos/Hessal-120.png" />

    <!--Main Stylesheet-->
    <link rel="stylesheet" href="~/css/bootstrap_custom.css" />
    <link rel="stylesheet" href="~/HessalWebapp.styles.css" asp-append-version="true" />

    <!--Font Stylesheet-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
    <link href="~/css/icon/et-line-font.css" rel="stylesheet" />
    <!-- Animation Stylesheet -->
    <link rel="stylesheet" href="~/css/animate.css" />
    <!-- Revolution Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/lib/rev-slider/revolution/css/settings.css">
    <!-- Revolution Layer  Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/lib/rev-slider/revolution/css/layers.css">
    <!-- Revolution Navigation  Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/lib/rev-slider/revolution/css/navigation.css">
    <!-- Owl Carousel Stylesheet -->
    <link href="~/lib/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/projects-carousel.css" rel="stylesheet" />
    <!--Swiper Stylesheet-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100">
    @await Html.PartialAsync("_Header", new HessalWebapp.Controllers.HeaderModel()) 
    <div class="layout">
        <div class="loader navbar-brand">
            <img src="~/lib/src/logos/Hessal-120.png" alt="" />
            <div class="vertical-line-1"></div>
            <div class="vertical-line-2"></div>
            <div class="vertical-line-3"></div>
            <div class="vertical-line-4"></div>
        </div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- Overlay for faded background -->
    <div id="overlay"></div>

    <div>
        @await Html.PartialAsync("_Footer")
    </div>
    
    <!-- JS Library Files -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.sticky.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/lib/node_modules/isotope-layout/dist/isotope.pkgd.min.js"></script>

    <!-- Owl Carousel Files -->
    <script src="~/lib/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.magnific-popup.js"></script>
    <script src="~/js/owl-carousel-project.js"></script>
    <script src="~/js/interface.js"></script>

    <!-- Revolution JS Files -->
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript"
            src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/js/revolution.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Swiper Initialization -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "cube",
            grabCursor: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>