@page "{pageName}"
@model HessalWebapp.Controllers.BlogPostModel
@{
    var requestedLink = HttpContext.Request.Path;
    var pageName = requestedLink.Value.Trim('/');
    ViewData["Title"] = Model.BlogPostPage.PageName;
    ViewData["TwitterShare"] = "https://twitter.com/intent/tweet?text=We%20are%20Hessal%20Solutions,%20LPG%20Specialists%20and%20Installers%20Get%20to%20know%20more%20about%20us.%20Visit%20our%20site%20@%20.%20https://hessal-sol.com/";
    ViewData["WhatsappShare"] = "whatsapp://send?text=We%20are%20Hessal%20Solutions,%20LPG%20Specialists%20and%20Installers%20Get%20to%20know%20more%20about%20us.%20Visit%20our%20site%20@%20.%20https://hessal-sol.com/ ";
}

@section MetaTags {
    <meta name="description" content="@Model.BlogPostPage.MetaDescription">
    <meta property="og:title" content="@Model.BlogPostPage.MetaOgTitle">
    <meta property="og:description" content="@Model.BlogPostPage.MetaOgDescription">
    <meta name="keywords" content="@Model.BlogPostPage.MetaKeyWords">
    <meta property="og:image" content="https://hessal-sol.com/lib/src/bg/Fire-03.webp">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
}

<section>
    <div id="post-header" class="bg-primary">
        <div class="post single"><div class="post-image"></div></div>
    </div>
</section>

<section id="post-content" class="section-knowledge">
    <div class="container">
        <div class="row">
            <!--Render Region-->
            <div id="content" class="post single col-lg-8 ">
                <!-- Post / Item -->
                <article class="post-content ">
                    <ul class="post-meta d-flex flex-wrap align-items-center">
                        <li>@Model.BlogPostPage.PublishedDate.ToString("MMMM d, yyyy hh:mm:tt")</li>
                        <li>by @Model.BlogPostPage.Author</li>
                        <li>
                            <div class="vertical-panel-content">
                                <div class="vertical-panel-title">Share</div>
                                <ul class="social-list">
                                    <li>
                                        <a target="_blank" rel="noopener noreferrer" class="social-list-facebook"
                                           href="https://www.facebook.com/sharer/sharer.php?u=https://hessal-sol.com/blog/lpg_what_is_it.html">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="noopener noreferrer" class="social-list-whatsapp"
                                           href="whatsapp://send?text=Liquified Petroleum Gas, What is it? Where does it come from and why do we use it? Find out more. %20https://hessal-sol.com/blog/lpg_what_is_it.html">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="noopener noreferrer" class="social-list-twitter"
                                           href="https://twitter.com/intent/tweet?text=Liquified Petroleum Gas, What is it? Where does it come from and why do we use it? Find out more. https://hessal-sol.com/blog/lpg_what_is_it.html">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="noopener noreferrer" class="social-list-linkedin"
                                           href="https://www.linkedin.com/sharing/share-offsite/?url=https://hessal-sol.com/blog/lpg_what_is_it.html">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <h1 class="section-header my-4 border-bottom pb-2">
                        <a href="https://en.wikipedia.org/wiki/Liquefied_petroleum_gas">@Model.BlogPostPage.Highlight</a>
                    </h1>
                    <p class="lead-text">
                        @Model.BlogPostPage.Summary
                    </p>
                    <!--Post Content-->
                    @{
                        switch (pageName)
                        {
                            case "Blog/BlogPost/What is LPG?":
                                @Html.Partial("_lpg")
                                break;
                            case "Blog/BlogPost/LPG Production":
                                @Html.Partial("_production")
                                break;
                            case "Blog/BlogPost/LPG Safety":
                                @Html.Partial("_safety")
                                break;
                            case "Blog/BlogPost/Leak Detection":
                                @Html.Partial("_leakages")
                                break;
                            case "Blog/BlogPost/Fire Prevention":
                                @Html.Partial("_fireprevention")
                                break;
                            case "Blog/BlogPost/Gas Pipes":
                                @Html.Partial("_plastic")
                                break;
                            case "Blog/BlogPost/Gas Accessories":
                                @Html.Partial("_accessories")
                                break;
                            case "Blog/BlogPost/Non-destructive Testing":
                                @Html.Partial("_ndtesting")
                                break;
                            case "Blog/BlogPost/Tank Earthing":
                                @Html.Partial("_earthing")
                                break;
                            default:
                                <p>Error: Blog post not found</p>
                                break;
                        }
                    }
                </article>
            </div>
            <div class="col-lg-4 bg-secondary">
                <div class="widget widget_recent_post">
                    <h3 class="widget-title">Recent Post</h3>
                    @foreach (var recentPosts in Model.BlogPosts)
                    {
                        if (recentPosts.Id != Model.BlogPostPage.Id)
                        {
                            <article class="recent-post">
                                <div class="recent-post-thumbnail">
                                    <a aria-current="page" asp-area="" asp-page="/Blog/BlogPost" asp-route-pageName="@recentPosts.PageName">
                                        <img alt="@recentPosts.ImageAlt" src="@recentPosts.ImageUrl"
                                             class="wp-post-image">
                                    </a>
                                </div>
                                <div class="recent-post-body">
                                    <h4 class="recent-post-title">
                                        <a aria-current="page" asp-area="" asp-page="/Blog/BlogPost" asp-route-pageName="@recentPosts.PageName">
                                            @recentPosts.Content
                                        </a>
                                    </h4>
                                    <div class="recent-post-time">@Model.BlogPostPage.PublishedDate.ToString("MMM d, yyyy")</div>
                                </div>
                            </article>
                        }
                    }
                </div>
                <div class="widget d-lg-block d-sm-none">
                    <div class="blog-tags">
                        @foreach (var blogTags in Model.BlogPosts)
                        {
                            <a aria-current="page" asp-area="" asp-page="/Blog/BlogPost" asp-route-pageName="@blogTags.PageName">@blogTags.Title</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <!-- Owl Carousel Files -->
    <script src="~/lib/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.magnific-popup.js"></script>
    <script src="~/js/owl-carousel-project.js"></script>
    <script src="~/js/interface.js"></script>
}



