@page
@model HessalWebapp.Controllers.IndexModel
@{
    ViewData["Title"] = "Home";
    Model.SocialIcons = new List<string> { "fa fa-facebook", "fa-brands fa-x-twitter", "fa fa-instagram", "fa fa-telegram" };
    Model.SocialList = new List<string> { "social-list-facebook", "social-list-twitter", "social-list-instagram", "social-list-telegram" };
}

@section MetaTags {
    <meta name="description"
          content="We are a team of LPG specialists with diverse knowledge on the design, installation and maintenance of LPG systems and appliances. Connect with us for more!">
    <meta property="og:title" content="Hessal Solutions Ltd">
    <meta property="og:description"
          content="We are a team of LPG specialists with diverse knowledge on the design, installation and maintenance of LPG systems and appliances. Connect with us for more!">
    <meta name="keywords"
          content="LPG Design, LPG Installation, LPG Maintenance, LPG Appliances, Fire Place Installers, LPG Installers, Fire Place Installations, LPG Safety, LPG Leak Detection, LPG Benefits, LPG Uses, LPG Production, LPG Fires, LPG Tanks, LPG Earthing">
}

<section id="Presentation">
    <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <ul>
            <!--SLIDE-1 LAYER NR. 1 -->
            <li data-index='rs-382' data-transition='cube' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/lib/src/project/Image-6.webp' data-rotate='0' data-saveperformance='off' data-title='Cube Vertical' data-description=''>
                <img src="~/lib/src/project/Image-6.webp" alt="Gas Vaporizer" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" width="1280" height="720" loading="lazy">
                <div class="tp-caption lyr3"
                     id="slide-1648-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[-50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    We are <br>designers, <br />innovators, <br />Installers...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's connect
                </div>

                <a asp-area="" asp-page="/Contact/Contact" title="" class="tp-caption lyr5 btn btn-primary"
                   id="slide-1-layer-3"
                   data-x="['left','left','left','left']" data-hoffset="20"
                   data-y="center" data-voffset="180"
                   data-width="['auto','auto','auto','auto']"
                   data-height="['auto','auto','auto','auto']"
                   data-transform_idle="o:1;"
                   data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2800,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'
                   data-paddingtop="[20,20,20,20]"
                   data-paddingright="[20,20,20,20]"
                   data-paddingbottom="[20,20,20,20]"
                   data-paddingleft="[20,20,20,20]"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-elementdelay="0.05">
                    Get a Quote..
                </a>
            </li>
            <!--SLIDE 2 LAYER NR. 2 -->
            <li data-index='rs-384' data-transition='incube' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/lib/src/project/LP-07.webp' data-rotate='0' data-saveperformance='off' data-title='In Cube Vertical' data-description=''>
                <img src="~/lib/src/project/LP-07.webp" alt="LPG Bulk Tank" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" width="1280" height="720" loading="lazy">
                <div class="tp-caption lyr3"
                     id="slide-1648-layer-1"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    We improve <br>lives with our <br />projects...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's connect
                </div>

                <a asp-area="" asp-page="/Projects/Projects" title="" class="tp-caption lyr5  btn btn-primary"
                   id="slide-1-layer-3"
                   data-x="['right','right','right','right']" data-hoffset="20"
                   data-y="center" data-voffset="180"
                   data-width="['auto','auto','auto','auto']"
                   data-height="['auto','auto','auto','auto']"
                   data-transform_idle="o:1;"
                   data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2800,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'
                   data-paddingtop="[20,20,20,20]"
                   data-paddingright="[20,20,20,20]"
                   data-paddingbottom="[20,20,20,20]"
                   data-paddingleft="[20,20,20,20]"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-elementdelay="0.05">
                    Learn more...
                </a>
            </li>
            <!-- SLIDE 3 LAYER NR. 3 -->
            <li data-index='rs-371' data-transition='parallaxtoleft' data-slotamount='default' data-easein='default'
                data-easeout='default' data-masterspeed='default' data-thumb='~/lib/src/project/FP-01.webp'
                data-rotate='0' data-saveperformance='off' data-title='Parallax to Bottom' data-description=''>
                <img src="~/lib/src/project/FP-01.webp" alt="Fire Place" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" width="1280" height="720" loading="lazy">
                <div class="tp-caption lyr3"
                     id="slide-1648-layer-1"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[-50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    Our trusted <br>solutions are for <br />your fulfillment...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['left','left','left','left']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's connect
                </div>

                <a asp-area="" asp-page="/Solutions/Services" title="" class="tp-caption lyr5  btn btn-primary"
                   id="slide-1-layer-3"
                   data-x="['left','left','left','left']" data-hoffset="20"
                   data-y="center" data-voffset="180"
                   data-width="['auto','auto','auto','auto']"
                   data-height="['auto','auto','auto','auto']"
                   data-transform_idle="o:1;"
                   data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":2800,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'
                   data-paddingtop="[20,20,20,20]"
                   data-paddingright="[20,20,20,20]"
                   data-paddingbottom="[20,20,20,20]"
                   data-paddingleft="[20,20,20,20]"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-elementdelay="0.05">
                    Learn more...
                </a>
            </li>
            <!--SLIDE 4 LAYER NR. 4 -->
            <li data-index='rs-381' data-transition='3dcurtain-vertical' data-slotamount='default'
                data-easein='default' data-easeout='default' data-masterspeed='default'
                data-thumb='~/lib/src/project/Photo-13.webp' data-rotate='0' data-saveperformance='off'
                data-title='3D Curtain Vertical' data-description=''>
                <img src="~/lib/src/project/Photo-13.webp" alt="Solenoid Valve" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" width="1280" height="720" loading="lazy">
                <div class="tp-caption lyr3 text-white"
                     id="slide-1648-layer-1"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="-100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"x:[50%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="200"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.04">
                    Your project <br>is safe in our <br />hands...”
                </div>

                <div class="tp-caption lyr4 display-5 text-white"
                     id="slide-1648-layer-2"
                     data-x="['right','right','right','right']" data-hoffset="20"
                     data-y="center" data-voffset="100"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2300,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     data-start="2000"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.06">
                    Let's work together...
                </div>
            </li>
        </ul>
    </div>
</section>
<section id="About" class="section-about bg-dark">
    <div class="container about-container">
        <div class="row d-flex flex-wrap justify-content-center">
            <div class="col-lg-5 col-md-12">
                <div class="card-group justify-content-center my-md-4 my-sm-4">
                    <div class="card br-10 card-bg mb-4">
                        <div class="card-body br-inherit mx-2 my-2 position-absolute bottom-0 bg-dark bg-opacity-50 text-white">
                            <h5 class="card-title card-text-title">LPG Specialists and Installers</h5>
                            <p class="card-text">
                                Our years of experience will ensure your safety...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 pb-4">
                <div class="about-wrap-widget">
                    <div class="about-element">
                        <h1 class="section-title">Who we are</h1>
                    </div>
                    <div class="about-element title-text animated" data-animation="fadeIn">
                        <h2 class="section-header">We are <strong>Liquefied Petroleum Gas Specialists & Installers</strong></h2>
                    </div>
                    <div class="about-element">
                        <p class="body-text">
                            As a team of specialized engineers and installers, we focus on LPG Gas reticulation, LPG bulk storage systems, LPG installation, LPG maintenance and LPG safety standards.
                            We are driven by technology and innovation to deliver effective, reliable and safe LPG gas solutions. Our commitment to safety pushes us to invest in cutting-edge LPG
                            technologies and equipment that align with our high standards for durability and longevity.
                            We pride ourselves on our expertise in LPG Gas systems and our commitment to ensuring the safety of our projects and their properties.
                        </p>
                    </div>
                    <div class="about-element text-end pt-4">
                        <a class="btn btn-primary btn-text-link" aria-current="page" asp-area="" asp-page="/About">Know more about us <span><i class="fa fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Services" class="section-services">
    <div class="bg-image bg-fixed">
        <div class="w-100 h-100 bg-dark bg-opacity-50"></div>
    </div>
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
            <h1 class="section-header text-center text-white my-3">Our Services</h1>
            <div class="col-lg-12">
                <h2 class="section-title text-lg-center my-2 text-white">
                    We have a wide range of services that would be useful to you.
                </h2>
                <p class="body-text text-lg-center text-white">
                    We offer various services within the field of LPG, ranging from design and installation of LPG systems,
                    inspection and maintenance of existing LPG systems, and artificial fireplace installations for residential use.
                </p>
            </div>
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-4 w-100">
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2 card-width">
                            <img src="~/lib/src/project/Image-6.webp" class="card-img-top br-10" alt="Gas Vaporizer" loading="lazy" />
                            <div class="card-body">
                                <h5 class="card-text-title text-center">Design and Installation of LP Gas Systems</h5>
                                <p class="card-text">We design, install, test and commission LPG systems for both small and large scale reticulation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2 card-width">
                            <img src="~/lib/src/project/LP-14.webp" class="card-img-top br-10" alt="Gas Cylinders" loading="lazy" />
                            <div class="card-body">
                                <h5 class="card-text-title text-center">Domestic Gas Installations</h5>
                                <p class="card-text">We install safe and secure LPG systems for use in residential housing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="card br-10 mx-2 my-2 card-width">
                            <img src="~/lib/src/project/FP-01.webp" class="card-img-top br-10" alt="Fire Place" loading="lazy" />
                            <div class="card-body">
                                <h5 class="card-text-title text-center">Fire Place Installations</h5>
                                <p class="card-text">For those seeking to install artificial fire-places and are tired of using wood, we are your go to specialists!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center py-4">
                <a class="btn btn-primary btn-text-link" aria-current="page" asp-area="" asp-page="/Services">Find out more here... <span><i class="fa fa-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
</section>
<section id="Projects" class="bg-light">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
            <h1 class="section-header text-center my-3">Our Projects</h1>
            <h2 class="section-title text-lg-center my-2">Our passion for excellence has helped us complete several projects successfully.</h2>
            <p class="body-text text-lg-center">
                We have a sizeable portfolio of completed projects under our belt, each with its own unique challenges. Our aim has always been to
                complete the work accorded to us on time, and within budget, keeping our clients satisfied!
            </p>
            <div class="col slider">
                <div class="owl-one owl-carousel projects-gallery">
                    <div class="slider-card project project-light">
                        <div class="image-box">
                            <a href="~/lib/src/project/FP-01.webp" class="image" title="Artificial LPG Fire-place">
                                <img src="~/lib/src/project/FP-01.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Artificial LPG Fire-place
                                </h3><p class="paragraph-text text-center mb-0">An artificial LPG Fireplace within a residential house.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/Image-6.webp" class="image" title="LPG Vaporizer">
                                <img src="~/lib/src/project/Image-6.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    LPG Vaporizer
                                </h3><p class="paragraph-text text-center mb-0">Commercial LPG Vaporizer for use in a large industrial manufacturing plant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/LP-06.webp" class="image" title="Domestic LPG">
                                <img src="~/lib/src/project/LP-06.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Domestic LPG
                                </h3><p class="paragraph-text text-center mb-0">An installation showing LPG connections and accessories for use in a villa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/Photo-19.webp" class="image" title="Commercial Kitchen LPG">
                                <img src="~/lib/src/project/Photo-19.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Commercial Kitchen LPG
                                </h3><p class="paragraph-text text-center mb-0">Gas cylinders installed for use in a commercial kitchen with several chefs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/LP-15.webp" class="image" title="Bulk LPG Tank Inspection">
                                <img src="~/lib/src/project/LP-15.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Bulk LPG Tank Inspection
                                </h3><p class="paragraph-text text-center mb-0">
                                    Inspection carried out on a bulk tank LPG system. Tank revalidation was conducted to ensure
                                    that the system was in good working condition and to issue a clean bill of health on the bulk tank.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/Photo-13.webp" class="image" title="Solenoid Valve Installation">
                                <img src="~/lib/src/project/Photo-13.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Solenoid Valve Installation
                                </h3><p class="paragraph-text text-center mb-0">
                                    A solenoid valve is installed as part of a fire safety measure. Commonly used to shut-off gas supply in the
                                    event of possible gas leakage.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/LP-07.webp" class="image" title="Bulk Tank Installation">
                                <img src="~/lib/src/project/LP-07.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Bulk Tank Installation
                                </h3><p class="paragraph-text text-center mb-0">Bulk tank installation for use in a commercial kitchen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/gallery/P-09.webp" class="image" title="Bulk Tank Installation">
                                <img src="~/lib/src/gallery/P-09.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Bulk Tank Installation
                                </h3><p class="paragraph-text text-center mb-0">Bulk tank reticulation piping being buried underground within pipe sleeves.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/Image-14.webp" class="image" title="Commercial LPG - Kitchen">
                                <img src="~/lib/src/project/Image-14.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    Commercial LPG - Kitchen
                                </h3><p class="paragraph-text text-center mb-0">Kitchen LPG pipework connected to kitchen equipment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-card project">
                        <div class="image-box">
                            <a href="~/lib/src/project/Photo-16.webp" class="image" title="LPG Emergency Systems">
                                <img src="~/lib/src/project/Photo-16.webp" width="640" height="360" loading="lazy" alt="">
                            </a>
                            <div class="hover project-info card bg-dark bg-opacity-50">
                                <h3 class="body-title text-center">
                                    LPG Emergency Systems
                                </h3><p class="paragraph-text text-center mb-0">
                                    An emergency gas shut-off switch used to electro-mechanically close the main LPG supply, in the event of a potential fire
                                    or excessive gas leakage.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Knowledge">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
            <h1 class="section-header text-center my-3">Knowledge Center</h1>
            <h2 class="section-title text-center my-2">
                Our Recent Posts on LPG
            </h2>
            <div class="owl-two owl-carousel">
                @foreach (var post in Model.BlogPosts)
                {
                    <div class="card br-10 mx-2 my-5 card-width">
                        <a asp-page="/Blog/BlogPost" asp-route-pageName="@post.PageName">
                            <img src="@post.ImageUrl" class="card-img-top br-10" alt="@post.ImageAlt" loading="lazy" />
                        </a>
                        <div class="card-date text-center"><p class="mb-0 year">@post.PublishedDate.ToString("yyyy")</p><p class="mb-0 day">@post.PublishedDate.ToString("dd")</p><p class="month">@post.PublishedDate.ToString("MMMM")</p></div> <!--Control Card Heights with Media Query-->
                        <div class="card-body">
                            <h5 class="card-text-title text-center"><a asp-page="/Blog/BlogPost" asp-route-pageName="@post.PageName">@post.Title</a></h5>
                            <p class="card-text">@post.Content</p>
                            <p class="card-text">By @post.Author</p>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-12 text-center py-4">
                <a class="btn btn-primary btn-text-link" aria-current="page" asp-area="" asp-page="/Blog/BlogList">More Knowledge on LPG here...<span><i class="fa fa-arrow-right"></i></span></a>
            </div>
        </div>
    </div>
</section>

<section id="Contact" class="section-contacts">
    <div data-style="dream" class="bg-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10051.140417271963!2d36.978290457901046!3d-1.2957891005911724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f6cf04fa67455%3A0x683a23e0befabd8f!2sAirways%20Shoping%20Center!5e0!3m2!1sen!2ske!4v1678804200991!5m2!1sen!2ske"
                title="google-map" width="1280" height="720" style="border:0" allowfullscreen loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container-contacts">
        <div class="contact-box bg-primary dark is-notvisible">
            <div class="contact-box-content">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <h2 class="mb-50"><em>Don’t hesitate to</em> contact us!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature text-center">
                            <div class="icon"><span><i class="fa fa-envelope fa-2x"></i></span></div>
                            <p class="paragraph-text">   info@hessal-sol.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature text-center">
                            <div class="icon"><span><i class="fa fa-phone fa-2x"></i></span></div>
                            <p class="paragraph-text"><small>   +254</small> 706 547 003, <small>+254</small> 714 585 382</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature text-center">
                            <div class="icon"><span><i class="fa fa-map-marker fa-2x"></i></span></div>
                            <address>   Airways Shopping Center,<brs>Utawala, Nairobi<br>Kenya</address>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="contact-button text-center">
                        <a class="btn btn-dark contact-us" aria-current="page" asp-area="" asp-page="/Contact/Contact">Let's Engage</a>
                    </div>
                </div>
                <hr class="sep-line">
                <div class="row align-items-center" id="social-contact">
                    <div class="col-sm-6 text-start">
                        <h5>Check out our Social Media!</h5>
                    </div>
                    <div class="col-sm-6 text-md-end">
                        <ul class="social-list">
                            @if (Model.SocialIcons != null)
                            {
                                @for (var i = 0; i < Model.SocialIcons.Count; i++)
                                {
                                    var socialIconsCanvas = Model.SocialIcons[i];
                                    var socialListCanvas = Model.SocialList[i];
                                    <li>
                                        <a target="_blank" rel="noopener noreferrer" class="@socialListCanvas"
                                           href="#" aria-label="follow button">
                                            <i class="@socialIconsCanvas"></i>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <!-- Owl Carousel Files -->
    <script src="~/lib/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.magnific-popup.js"></script>
    <script src="~/js/owl-carousel-project.js"></script>
    <script src="~/js/interface.js"></script>

    <!-- Revolution JS Files -->
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/revolution.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/lib/rev-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
}